<a href="https://colab.research.google.com/github/Mamtha15-coder/my-repo/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
print(a+b+c)

30

In [ ]:
from os import scandir
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=10
b=5.5
c="sir"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=14
b=12
print(a+b)
print(a-b)
print(a/b)
print(a*b)

26
2
1.1666666666666667
168

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
str="nick"
print("first character:",str[0])

first character: n

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
a="hi world"
print(len(a))

8

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
str="mamathaanitha"
print(str.isalpha())

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
str1="mamtha"
str2="yadav"
result=str1+str2
print("the  concatenated str is:", result)

the  concatenated str is: mamthayadav

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
user_input=input("enter a string:")
substring="abc"
index = user_input.find(substring)
if index !=-1:
  print(f"the substring'{substring}'is found at index{index}.")
else:
    print(f"the substring'{substring}'is not found in the string.")

enter a string:abcdefghijklmnopqrstuvwxyz
the substring'abc'is found at index0.

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
user_input=input("Enter a string")
uppercase_string=user_input.upper()
lowercase_string=user_input.lower()
print("uppercase version",uppercase_string)
print("lowercaseversion",lowercase_string)

Enter a stringmamtha
uppercase version MAMTHA
lowercaseversion mamtha

In [ ]:
from itertools import count
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
user_input=input("enter a string")
character=input("enter character to count")
count=user_input.count(character)
print(f"the character '{character}' appears {count} times in the string")

enter a stringmamthayadav
enter character to counta
the character 'a' appears 4 times in the string

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
username=input("enter your name")
print(f"hello,{username},Good Morning")

enter your namemamtha
hello,mamtha,Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1=float(input("enter the first number"))
num2=float(input("enter  the second number"))
sum_result=num1 + num2
print("the sum of",num1, "and", num2, "is", sum_result)

enter the first number12
enter  the second number34
the sum of 12.0 and 34.0 is 46.0

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("enter your name")
age=int(input("enter your age"))
print(f"hello {name}! your are {age} years old")

enter your namemamooty
enter your age21
hello mamooty! your are 21 years old

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
number=float(input("enter a number: "))
if number >0:
  print("the number is positive.")
elif number < 0:
  print("the number is negative.")
else:
  print("the number is zero")

enter a number: 04
the number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = float(input("enter the first number:"))
num2 = float(input("enter the second number:"))
num3 = float(input("enter the third number:"))
if num1 >= num2 and num1 >= num3:
  print("the maximum number is:", num1)
elif num2 >= num1 and num2 >= num3:
    print("the maximum number is:", num2)
else:
      print("the maximum number is:", num3)

enter the first number:23
enter the second number:45
enter the third number:34
the maximum number is: 45.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
def is_leap_year(year):
      if (Year % 4 ==0 and Year %100!=0) or (year % 400 ==0):
          return True
      else:
         return False
year=int(input("enter a year"))
if is_leap_year(year)
     print(f"{year} is a leap year")
else
 print(f"{year} is not a leap year")

SyntaxError: expected ':' (<ipython-input-5-f7ccdd4496a3>, line 8)

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
number=int(input("enter a number"))
if number%3==0 and number % 5 == 0:
  print(f"{number} is divisible by both 3 and 5,")
else:
    print(f"{number} is not divisible by both 3 and 5")

enter a number15
15 is divisible by both 3 and 5,

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
string=input("enter a string")
cleaned_string=string,replace("","").lower()
if cleaned_string==cleaned_string['']

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i=2
while i<=20:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number=int(input("enter a number to print its multipilication table"))
for i in range(1,11):
  print(f"{number}*{i}={number*i}")

enter a number to print its multipilication table5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [1]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number n to calculate the sum from 1 to n: "))
sum_numbers = 0
i = 1
while i <= n:
    sum_numbers += i
    i += 1
print(f"The sum of all numbers from 1 to {n} is: {sum_numbers}")

Enter a number n to calculate the sum from 1 to n: 34
The sum of all numbers from 1 to 34 is: 595

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n = int(input("Enter a number to calculate its factorial: "))
factorial = 1
i = 1
while i <= n:
    factorial *= i
    i += 1
print(f"The factorial of {n} is: {factorial}")

Enter a number to calculate its factorial: 4
The factorial of 4 is: 24

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
def fibonacci(n):
    fib = [0, 1]
    [fib.append(fib[i-1] + fib[i-2]) for i in range(2, n)]
    return fib[:n]
n = 10
fibonacci_numbers = fibonacci(n)
print(fibonacci_numbers)

In [2]:
# Write a Python program to find all the prime numbers from 1 to 100.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
print("Prime numbers from 1 to 100:")
for number in range(1, 101):
    if is_prime(number):
        print(number, end=" ")

Prime numbers from 1 to 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [3]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for number in range(1, 101):
    if number > 50:
        print(f"Breaking out of the loop at number: {number}")
        break
    else:
        print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
Breaking out of the loop at number: 51

In [4]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for number in range(1, 21):
    if number % 2 == 0:
        continue
    print(number)

1
3
5
7
9
11
13
15
17
19

In [5]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
user_string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")
count = 0
for char in user_string:
    if char == char_to_count:
        count += 1
print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string: chikkinikki
Enter the character to count: i
The character 'i' appears 4 times in the string.

In [6]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
numbers=[10,20,30,40,50]
sum_of_numbers=sum(numbers)
print("the sum of the elements in the list is:",sum_of_numbers)

the sum of the elements in the list is: 150

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [8]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers=[10,20,30,40,50]
sum_of_numbers=sum(numbers)
print("the sum of the elements in the list is:",sum_of_numbers)

the sum of the elements in the list is: 150

In [7]:
# Write a Python program to find the largest element in a list.
numbers=[10,20,30,40,50]
largest_element=max(numbers)
print("the largest elements in the list is:",largest_element)

the largest elements in the list is: 50

In [9]:
# Write a Python program to reverse a list.
numbers=[10,20,30,40,50]
numbers.reverse()
print("reverse list:",numbers)

reverse list: [50, 40, 30, 20, 10]

In [10]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [10, 20, 30, 20, 40, 20, 50]
element_to_remove = 20
numbers = [num for num in numbers if num != element_to_remove]
print("List after removing all occurrences of", element_to_remove, ":", numbers)

List after removing all occurrences of 20 : [10, 30, 40, 50]

In [11]:
# Write a Python program to find the index of an element in a list.
numbers = [10, 20, 30, 40, 50]
element_to_find = 30
try:
    index_of_element = numbers.index(element_to_find)
    print(f"The index of {element_to_find} is:", index_of_element)
except ValueError:
    print(f"{element_to_find} is not in the list.")

The index of 30 is: 2

In [12]:
# Write a Python program to find if a specific element exists in a list.
numbers = [10, 20, 30, 40, 50]
element_to_find = 30
if element_to_find in numbers:
    print(f"{element_to_find} exists in the list.")
else:
    print(f"{element_to_find} does not exist in the list.")

30 exists in the list.

In [13]:
# Write a Python program to remove duplicates from a list.
numbers = [10, 20, 30, 20, 40, 50, 30, 10]
unique_numbers = list(set(numbers))

print("List after removing duplicates:", unique_numbers)

List after removing duplicates: [40, 10, 50, 20, 30]

In [14]:
# Write a Python program to count the occurrences of an element in a list.
numbers = [10, 20, 30, 20, 40, 50, 20]
element_to_count = 20
occurrences = numbers.count(element_to_count)
print(f"The element {element_to_count} occurs {occurrences} times in the list.")

The element 20 occurs 3 times in the list.

In [15]:
# Write a Python program to get the number of even numbers in a list.
numbers = [10, 21, 30, 43, 50, 60, 75, 80]
even_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count += 1
print(f"The number of even numbers in the list is: {even_count}")

The number of even numbers in the list is: 5

In [16]:
# Write a Python program to create a tuple and print it.
my_tuple = (10, 20, 30, 40, 50)
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30, 40, 50)

In [17]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (10, 20, 30, 40, 50)
tuple_to_list = list(my_tuple)
print("Tuple converted to List:", tuple_to_list)
list_to_tuple = tuple(tuple_to_list)
print("List converted back to Tuple:", list_to_tuple)

Tuple converted to List: [10, 20, 30, 40, 50]
List converted back to Tuple: (10, 20, 30, 40, 50)

In [18]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = (10, 20, 30, 40, 50)
max_value = max(my_tuple)
min_value = min(my_tuple)
print("The maximum value in the tuple is:", max_value)
print("The minimum value in the tuple is:", min_value)

The maximum value in the tuple is: 50
The minimum value in the tuple is: 10

In [19]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("The value of a:", a)
print("The value of b:", b)
print("The value of c:", c)

The value of a: 10
The value of b: 20
The value of c: 30

In [20]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {10, 20, 30, 40}
my_set.add(50)
element_to_check = 30
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")
print("Updated set:", my_set)

30 exists in the set.
Updated set: {40, 10, 50, 20, 30}

In [22]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {
    "name": "mammu",
    "age": 19,
    "city": "vikarabad",
    "job": "Engineer"
}
print("The dictionary is:", my_dict)

The dictionary is: {'name': 'mammu', 'age': 19, 'city': 'vikarabad', 'job': 'Engineer'}

In [24]:
# Write a Python program to access a dictionary value using a key.
my_dict = {
    "name": "mammu",
    "age": 19,
    "city": "hyd",
    "job": "Engineer"
}
key_to_access = "age"
value = my_dict[key_to_access]
print(f"The value for the key '{key_to_access}' is: {value}")

The value for the key 'age' is: 19

In [25]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {
    "name": "mamtha",
    "age": 19,
    "city": "rajamundr",
    "job": "Engineer"
}
key_to_check = "age"
if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'age' exists in the dictionary.

In [26]:
# Write a Python program to merge two dictionaries.
dict1 = {
    "name": "mamatha",
    "age": 19
}

dict2 = {
    "city": "New York",
    "job": "Engineer"
}
dict1.update(dict2)
print("Merged dictionary:", dict1)

Merged dictionary: {'name': 'mamatha', 'age': 19, 'city': 'New York', 'job': 'Engineer'}

In [27]:
# Write a Python program to remove a key from a dictionary.
my_dict = {
    "name": "chandu",
    "age": 19,
    "city": "New York",
    "job": "teacher"
}
key_to_remove = "age"
if key_to_remove in my_dict:
    my_dict.pop(key_to_remove)
    print(f"The key '{key_to_remove}' has been removed.")
else:
    print(f"The key '{key_to_remove}' does not exist.")
print("Updated dictionary:", my_dict)

The key 'age' has been removed.
Updated dictionary: {'name': 'chandu', 'city': 'New York', 'job': 'teacher'}

In [28]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {
    "name": "nithya",
    "age": 35,
    "city": "Australia",
    "job": "Engineer"
}
num_keys = len(my_dict)
print("The number of keys in the dictionary is:", num_keys)

The number of keys in the dictionary is: 4

In [29]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {
    "a": 10,
    "b": 20,
    "c": 5,
    "d": 30,
    "e": 25
}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print("The largest value in the dictionary is:", largest_value)
print("The smallest value in the dictionary is:", smallest_value)

The largest value in the dictionary is: 30
The smallest value in the dictionary is: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [30]:
# Write a Python function that returns the square of a number.
def square_number(n):
    return n ** 2
num = float(input("Enter a number to find its square: "))
result = square_number(num)
print(f"The square of {num} is {result}.")

Enter a number to find its square: 5
The square of 5.0 is 25.0.

In [31]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(a, b):
    return a + b
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
result = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is {result}.")

Enter the first number: 45
Enter the second number: 34
The sum of 45.0 and 34.0 is 79.0.

In [32]:
# Write a Python function to check if a given number is prime.
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
number = int(input("Enter a number to check if it is prime: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number to check if it is prime: 5
5 is a prime number.

In [33]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
number = int(input("Enter a number to calculate its factorial: "))
result = factorial(number)
print(f"The factorial of {number} is {result}")

Enter a number to calculate its factorial: 4
The factorial of 4 is 24

In [35]:
# Write a Python function to calculate the power of a number using recursion.
def power(x, n):
    if n == 0:
        return 1
    elif n == 1:
        return x
    else:
        return x * power(x, n - 1)
base = float(input("Enter the base number: "))
exponent = int(input("Enter the exponent: "))
result = power(base, exponent)
print(f"{base} raised to the power of {exponent} is {result}.")

Enter the base number: 5
Enter the exponent: 2
5.0 raised to the power of 2 is 25.0.

In [37]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    count = 0
    for item in lst:
        count += 1
    return count
my_list = [10, 30, 40, 50]
result = list_length(my_list)
print(f"The length of the list is {result}.")

The length of the list is 4.

In [38]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_args(*args, **kwargs):
    total = sum(args)
    print(f"The sum of the positional arguments is: {total}")
sum_positional_args(1, 2, 3, 4, 5)
sum_positional_args(10, 20, 30, a=100, b=200)

The sum of the positional arguments is: 15
The sum of the positional arguments is: 60

In [39]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def max_of_two_numbers(**kwargs):
    num1 = kwargs.get('num1')
    num2 = kwargs.get('num2')
    if num1 is None or num2 is None:
        raise ValueError("Both 'num1' and 'num2' must be provided as keyword arguments.")
    return max(num1, num2)
result = max_of_two_numbers(num1=10, num2=20)
print(f"The maximum of the two numbers is: {result}")

The maximum of the two numbers is: 20

In [40]:
# Write a Python function that accepts a list of numbers and returns their product.
def product_of_numbers(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product
numbers_list = [2, 3, 4]
result = product_of_numbers(numbers_list)
print(f"The product of the numbers is: {result}")

The product of the numbers is: 24

In [41]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"
num = int(input("Enter a number: "))
result = check_even_odd(num)
print(f"The number {num} is {result}.")

Enter a number: 3
The number 3 is Odd.

In [42]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x ** 2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [num for num in numbers if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [44]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["apple", "cat", "banana", "dog", "elephant", "fish", "grape"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'elephant', 'grape']

In [45]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
input_string = "Hello World!I'm MAmtHa."
uppercase_letters = [char for char in input_string if char.isupper()]
print(uppercase_letters)

['H', 'W', 'I', 'M', 'A', 'H']

In [46]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(n):
    fib = [0, 1]
    [fib.append(fib[i-1] + fib[i-2]) for i in range(2, n)]
    return fib[:n]
n = 10
fibonacci_numbers = fibonacci(n)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [47]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
n = 10
squares_dict = {i: i**2 for i in range(1, n+1)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [48]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
dict_from_lists = {keys[i]: values[i] for i in range(len(keys))}
print(dict_from_lists)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [49]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes_dict = {i: i**3 for i in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [50]:
# Write a Python program to square each element of a list using the map() function.
numbers = [1, 2, 3, 4, 5]

def square(x):
    return x ** 2

squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [52]:
# Write a Python program to filter all even numbers from a list using the filter() function.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 3 == 0, numbers))
print(even_numbers)

[3, 6, 9]

In [53]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
check_divisibility = lambda num: num % 3 == 0 and num % 5 == 0
number = 15
if check_divisibility(number):
    print(f"{number} is divisible by both 3 and 5.")
else:
    print(f"{number} is not divisible by both 3 and 5.")

15 is divisible by both 3 and 5.

In [54]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [55]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [1, 2, 3, 4, 2, 5, 2, 6]
element_to_remove = 2
filtered_list = [num for num in numbers if num != element_to_remove]
print(filtered_list)

[1, 3, 4, 5, 6]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`